.choiceButton {
    background: blue;
    color: white;
    margin: 2px auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    margin: 2px auto;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.selectChoice {
    background-color: blueviolet !important;
}

.submit {
    color: white;
    margin: 2px auto;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.score {
    position: absolute;
}

.startup {
    text-align: center;
}

.startForm {
    margin: 5px;
}

.thank {
    padding-top: 50px;
}